/* Filtreleme Kutusu */
.filter {
    margin-bottom: 20px;
    text-align: center;
}

.filter input {
    padding: 10px;
    width: 50%;
    font-size: 1em;
    border-radius: 6px;
    border: 1px solid #ddd;
    margin-top: 10px;
}

/* Post Başlıkları */
.post {
    background-color: #fafafa;
    margin-bottom: 30px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.post h2 {
    font-size: 2em;
    color: #333;
    margin-bottom: 15px;
}
